<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Actualización de Tareas</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/Style.css')}}">
    <link rel="stylesheet" href="../static/css/Style.css">
    <!-- Agrega cualquier enlace a hojas de estilo CSS que desees usar -->
</head>
<body>
    <h1>Formulario de Actualización de Tareas</h1>

    <form action="" method="POST">
        <!-- Nombre de la tarea -->
        <div>
            <label for="nombre">Nombre de la tarea:</label>
            <input type="text" id="nombre" name="nombre" value="{{tareas[1]}}" required>
        </div>

        <!-- Fecha de inicio -->
        <div>
            <label for="fechainicio">Fecha de inicio:</label>
            <input type="date" id="fechainicio" name="fechainicio" value="{{tareas[2]}}" required>
        </div>

        <!-- Fecha de fin -->
        <div>
            <label for="fechafinal">Fecha de fin:</label>
            <input type="date" id="fechafinal" name="fechafinal" value="{{tareas[3]}}" required>
        </div>

        <!-- Estado de la tarea -->
        <div>
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" value="{{tareas[4]}}" required>
                <option value="pendiente">Pendiente</option>
                <option value="en_progreso">En progreso</option>
                <option value="completada">Completada</option>
            </select>
        </div>

        <!-- ID de la tarea (oculto) -->
        <input type="hidden" id="id_tarea" name="id" value="{{ id }}"> <!-- Puedes obtener el valor de id_tarea desde tu backend y pasarlo al formulario -->

        <!-- Botón de envío -->
        <button type="submit">Actualizar Tarea</button>
    </form>
</body>
</html>