<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/Style.css')}}">
</head>
<body>
    <h1>Resultado de la búsqueda "{{ busquedatu }}"</h1>

    <div>
        {% for tareas in tareas %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Código de la tarea: {{ tareas['id_tarea'] }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Nombre de la tarea: </strong> {{ tareas['nombre'] }}</p>
                <p class="card-text"><strong>Fecha de inicio: </strong> {{ tareas['fechainicio'] }}</p>
                <p class="card-text"><strong>Fecha final: </strong> {{ tareas['fechafinal'] }}</p>
                <p class="card-text"><strong>Estado: </strong> {{ tareas['estado'] }}</p>
            </div>
            <div class="card-footer">
                <a href="{{url_for('eliminartusu',id=tareas.id_tarea)}}">Eliminar</a>
                <a href="{{url_for('editartusu',id=tareas.id_tarea)}}">Editar</a>
            </div>
        </div>
        {% else %}
        <p>No se encontraron tareas</p>
        {% endfor %}
    </div>
</body>
</html>
